[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-case:before {
  content: "\e917";
}
.icon-for-me:before {
  content: "\e918";
}
.icon-arrow-left:before {
  content: "\e915";
  color: #e1e3e5;
}
.icon-burger-close:before {
  content: "\e916";
  color: #d40000;
}
.icon-cards:before {
  content: "\e910";
}
.icon-credits:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e912";
  color: #d40000;
}
.icon-invest:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e914";
}

.icon-linkedin:before {
  content: "\e90f";
  color: #fff;
}
.icon-transfers:before {
  content: "\e90c";
  color: #fff;
}
.icon-refresh:before {
  content: "\e90d";
  color: #fff;
}
.icon-transactions:before {
  content: "\e90e";
  color: #fff;
}
.icon-appstore:before {
  content: "\e900";
  color: #fff;
}
.icon-downarrow .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-downarrow .path2:before {
  content: "\e902";
  margin-left: -0.6318359375em;
  color: rgb(255, 255, 255);
  opacity: 0.6;
}
.icon-downarrow .path3:before {
  content: "\e903";
  margin-left: -0.6318359375em;
  color: rgb(255, 255, 255);
  opacity: 0.2;
}
.icon-dropdown:before {
  content: "\e904";
  color: #fff;
}
.icon-facebook:before {
  content: "\e905";
  color: #fff;
}
.icon-googleplay:before {
  content: "\e906";
  color: #fff;
}
.icon-instagram:before {
  content: "\e907";
  color: #fff;
}
.icon-next:before {
  content: "\e908";
  color: #fff;
}
.icon-search:before {
  content: "\e909";
  color: #fff;
}
.icon-telegram:before {
  content: "\e90a";
  color: #fff;
}
.icon-up:before {
  content: "\e90b";
  color: #d40000;
}